html,body{margin: 0;padding: 0;}
#leftpabel{height: 100vh;background: #17a2b8!important}
.list-group-item{background: transparent !important;}
.list-group-item .fa{color: #fff;}

@media only screen and (max-width: 600px) {
	#leftpabel{height: auto;background: #17a2b8!important}
}